<strong>Filter video list</strong>
<form [formGroup]="filters">
  <div>
    <label>Title</label>
    <input formControlName="title">
  </div>
  <div>
    <label>Author</label>
    <input formControlName="author">
  </div>
</form>
