<div class="row">
  <div class="col s3">
    <mar-video-list
      [videos]="(videoList | async) ?? []"
      [selectedVideoId]="(selectedVideoId | async) ?? ''"
    ></mar-video-list>
  </div>
  <div class="col s6">
    <mar-video-player [videoId]="(selectedVideoId | async) ?? ''"></mar-video-player>
  </div>
  <div class="col s3">
    <mar-stat-filters></mar-stat-filters>
  </div>
</div>
